@import "@/shared/styles";

.container {
  max-width: 43.2rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7.4rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}
