@import "@/shared/styles";

.container {
  max-width: 43.2rem;
  margin-right: auto;
  margin-left: auto;
  padding: 7.4rem 5.6rem 0;
  background-color: $white;

  .content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}
