@import "@/shared/styles";

.button {
  width: 4rem;
  height: 4rem;
  padding: 0.9rem;
  background-color: $primary;
  border: none;
  border-radius: 1rem;

  @include hover {
    cursor: pointer;
  }

  &__icon {
    width: 2.2rem;
    height: 2.2rem;
    color: $white;
  }
}
