@import "@/shared/styles";

.form {
  position: relative;
  display: flex;
  gap: 1.1rem;
  justify-content: space-between;

  &__warning {
    position: absolute;
    top: 110%;
    left: 0;
    color: $danger;
    font-size: 1.2rem;
  }
}
