@import "@/shared/styles";

.iconBtn {
  width: 3rem;
  height: 3rem;
  padding: 4px;
  color: $primary;
  background-color: inherit;
  border: none;

  &__icon {
    width: 100%;
    height: 100%;
  }

  @include hover {
    color: $primary-dark;
    cursor: pointer;
  }
}
